@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  @apply text-gray-800;
}

.instagram-gradient {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

@layer utilities {
  .aspect-w-1 {
    position: relative;
    padding-bottom: 100%;
  }
  .aspect-w-1 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}